*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.pytest_cache
.ruff_cache
.task
nosetests.xml

# Translations
*.mo

# Editor / IDE
.mr.developer.cfg
.project
.pydevproject
.idea
.vscode

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Local DBs
*.sqlite

# Environments
.venv
.python-version

secrets/